<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title">Group Members</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Espeña, Christopher C.</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Limjoco, Jeric Reiner C.</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Rivera, Reyner G.</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Wong, Angelo Karl S.</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title">Demo Website for:</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Facial Recognition Using Local Binary Pattern Histogram to Ensure Academic Integrity in Online Learning</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title">Holy Angel University</span>
          </li>
          <li class="nav-item">
            <span class="nav-link"><i class="fas fa-phone"></i>Bachelor of Science in Computer Science</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="text-center"><i class="fas fa-ellipsis-h"></i></div>
    
    <div class="row text-center">
      <div class="col-md-4 box">
        <span class="copyright quick-links">Copyright &copy; Your Website <script>document.write(new Date().getFullYear())</script>
        </span>
      </div>
      <!-- PICTURES -->
      <div class="col-md-4 box">
          <li class="list-inline-item">
            <a href="#">
            <img src="assets\images\REN.png" alt="" style="width: 80px; height: auto; padding-right: 20px;" class="circular-image">
          </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <img src="assets\images\TOPH.png" alt="" style="width: 80px; height: auto; padding-right: 20px;" class="circular-image">
          </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <img src="assets\images\WONG.png" alt="" style="width: 80px; height: auto; padding-right: 20px;" class="circular-image" >
          </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <img src="assets\images\REYNER.jpg" alt="" style="width: 80px; height: auto; padding-right: 20px;" class="circular-image">
          </a>
          </li>
      </div>
      <!-- END OF PICTURES -->
    </div>
  </div>
</footer>