<div class="header">
  <!--Content before waves-->
  <div class="inner-header flex">
      <!--Just the logo.. Don't mind this-->
      <img src="assets\images\logo.png" alt="" style="width: 60px; height: auto;">
      <h1>You are now taking the activity</h1>
  </div>

  <div>
      <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/']">Submit</button>
  </div>

<br>

<div class="container">
  Across a wide range of businesses, face recognition technology has become a very effective and adaptable instrument in the current day. This technology has significant advantages over traditional ways of monitoring students, making it an invaluable resource for educators and administrators. As we all know, during online quizzes and exams, there is no guarantee that the students are the ones answering the questions. To reduce this or prevent this, the researchers propose an application that will verify the student’s presence while taking an online academic activity, with the help of a face recognition algorithm, the researchers will be able to ensure that only the recognized students are the ones answering the activities thus preventing academic misconduct from being committed.
</div>

<br>

<!--Waves Container-->
<div>
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
</g>
</svg>
</div>
<!--Waves end-->

</div>
<!--Header ends-->

<!--Content starts-->
<div class="content flex">

</div>
<!--Content ends-->